$bg-primary: #f4f9f9;
$text-primary: #00647c;
$text-white: #ffffff;
$text-red: #d42422;
$header-bg-primary: #7d9fa4;
$selected-bg-primary: #ffcb03;
$coupon-width: 28rem;
$coupon-max-height: 30rem;
$coupon-border-color: #28616b;
$table-border: 1px solid #cce1e4;
